<div nz-flex nzAlign="center" nzGap="40px">
  <nz-form-item>
    <nz-form-label>Last updated at (From)</nz-form-label>
    <nz-date-picker
      [(ngModel)]="filterForm.updatedAtStartDate"
      nzPlaceHolder="Select start date"
      style="width: 200px">
    </nz-date-picker>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-label>Last updated at (To)</nz-form-label>
    <nz-date-picker
      [(ngModel)]="filterForm.updatedAtEndDate"
      nzPlaceHolder="Select end date"
      style="width: 200px">
    </nz-date-picker>
  </nz-form-item>
  
  <nz-form-item style="width: 280px">
    <nz-form-label>Status</nz-form-label>
    <nz-select
      [(ngModel)]="filterForm.projectStatus"
      nzPlaceHolder="Select status"
      style="width: 230px">
      <nz-option
        *ngFor="let status of projectStatuses"
        [nzValue]="status.value"
        [nzLabel]="status.label">
      </nz-option>
    </nz-select>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-label>Acceptance Requested</nz-form-label>
      <label
        nz-checkbox
        [ngModel]="filterForm.acceptanceRequestedAndNotConfirmed"
        (ngModelChange)="onAcceptanceRequestedCheck($event)">
        Requested & Not Confirmed
      </label>
  </nz-form-item>
  
  <div nz-flex nzGap="10px" nzJustify="center" style="min-width: 200px; margin: 8px 0 0 0" >
    <button
      nz-button
      nzType="primary"
      (click)="applyFilters()">
      Apply Filters
    </button>
    <button
      nz-button
      (click)="resetFilters()"
      style="margin-left: 10px">
      Reset
    </button>
  </div>
</div>

<nz-table
  #projectTable
  [nzData]="projects"
  [nzLoading]="loading"
  [nzFrontPagination]="false"
  [nzTotal]="totalCount"
  [nzPageSize]="filterForm.pageSize"
  [nzPageIndex]="filterForm.pageNo"
  (nzPageIndexChange)="onPageChange($event)"
  (nzPageSizeChange)="onPageSizeChange($event)">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Budget (EUR)</th>
    <th>Category</th>
    <th>Status</th>
    <th>Created At</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of projectTable.data">
    <td>{{project.id}}</td>
    <td>{{project.title}}</td>
    <td>{{project.budget}}</td>
    <td>{{project.category?.name || 'None'}}</td>
    <td>{{getStatusLabel(project.lifecycle.status)}}</td>
    <td>{{project.lifecycle.createdAt | date}}</td>
    <td>
      <button
        nz-button
        nzType="default"
        (click)="navigateToProject(project.id)">
        View Project
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>