<div style="margin: 0 auto;">
  <div style="margin-bottom: 40px">
    <app-employer-accounts style="width: 100%;"></app-employer-accounts>
  </div>
  <div style="margin-bottom: 40px">
    <app-freelancer-accounts style="width: 100%;"></app-freelancer-accounts>
  </div>
  <div style="margin-bottom: 40px">
    <app-employer-payments style="width: 100%;"></app-employer-payments>
  </div>
  <div style="margin-bottom: 20px">
    <app-freelancer-transfers style="width: 100%;"></app-freelancer-transfers>
  </div>
</div>