nz-card {
  min-width: 360px;
}

h2 {
  margin-bottom: 0;
}

nz-table {
  width: 100%;
}

nz-descriptions {
  margin-bottom: 16px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}