@import "ng-zorro-antd/ng-zorro-antd.dark.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #151515;
  --dark-gray-color: #1d1d1d;
  --gray-color: #2e2e2e;
  --light-gray-color: #4e4e4e;
  --light-color: #dddddd;
  --white-color: #f8f8f8;
}

body {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.ant-card {
  border-radius: 10px;
  background-color: var(--dark-gray-color);
}

.ant-btn {
  border-radius: 7px;
}

.ant-tag {
  border-radius: 7px;
  padding: 3px 7px;
}

.ant-input {
  border-radius: 7px;
}

.ant-input-affix-wrapper {
  border-radius: 7px;
}

.ant-modal-content {
  border-radius: 10px;
}

.ant-modal-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.input-error-message {
  color: #ff4f4b;
  font-size: 12px;
  margin-top: 5px;
}