<div nz-flex nzJustify="center">
  <nz-card style="margin-top: 300px; width: 400px;">
    <h2 style="color: var(--white-color)">Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <nz-space nzSize="middle" nzDirection="vertical">
        <div *nzSpaceItem>
          <input
            nz-input
            formControlName="email"
            placeholder="Enter your email"/>
          <div *ngIf="forgotPasswordForm.controls.email.invalid && forgotPasswordForm.controls.email.touched" class="input-error-message">
            <div *ngIf="forgotPasswordForm.controls.email.errors?.['required']">Email is required</div>
            <div *ngIf="forgotPasswordForm.controls.email.errors?.['email']">Invalid email format</div>
          </div>
        </div>
        
        <div *nzSpaceItem>
          <button
            nz-button
            nzType="primary"
            type="submit"
            [disabled]="forgotPasswordForm.invalid || isLoading"
            style="border-radius: 7px;">
            <nz-spin *ngIf="isLoading" nzSimple></nz-spin>
            Send Reset Link
          </button>
        </div>
        
        <div *nzSpaceItem>
          <button
            nz-button
            nzType="link"
            nzSize="small"
            style="padding: 0 0 0 0"
            [routerLink]="'/login'">
            Back to Login
          </button>
        </div>
      </nz-space>
    </form>
  </nz-card>
</div>