<div nz-flex nzJustify="center" nzAlign="center">
  <nz-card style="min-width: 355px; margin: 200px 0 0 0;">
    <div>
      <h2>Email confirmation</h2>
    </div>
    <form [formGroup]="confirmEmailForm">
      <nz-space nzSize="middle" nzDirection="vertical">
        
        <div *nzSpaceItem>
          <input
            nz-input
            formControlName="email"
            placeholder="Enter your email"
            style="width: 300px;">
          <div *ngIf="confirmEmailForm.controls.email.invalid && confirmEmailForm.controls.email.touched" class="input-error-message">
            <div *ngIf="confirmEmailForm.controls.email.errors?.['required']">Email is required</div>
            <div *ngIf="confirmEmailForm.controls.email.errors?.['email']">Invalid email format</div>
          </div>
        </div>
        
        <div *nzSpaceItem>
          <button
            nz-button
            nzType="default"
            [disabled]="isSendCodeBtnDisabled || confirmEmailForm.controls.email.invalid"
            (click)="onClickSendCode()">
            Send code
          </button>
        </div>
        
        <div *nzSpaceItem>
          <a href="http://localhost:8025" target="_blank">
            Check email
          </a>
        </div>
        
        <div *nzSpaceItem>
          <input
            nz-input
            formControlName="code"
            placeholder="Enter code from email"
            style="width: 300px;">
          <div *ngIf="confirmEmailForm.controls.code.invalid && confirmEmailForm.controls.code.touched" class="input-error-message">
            <div *ngIf="confirmEmailForm.controls.code.errors?.['required']">Code is required</div>
            <div *ngIf="confirmEmailForm.controls.code.errors?.['minlength'] || confirmEmailForm.controls.code.errors?.['maxlength']">
              Code must be exactly 6 characters
            </div>
          </div>
        </div>
        
        <div *nzSpaceItem>
          <button
            nz-button
            nzType="primary"
            [disabled]="confirmEmailForm.invalid"
            (click)="onClickConfirmEmail()">
            Confirm
          </button>
        </div>
        
        <div *nzSpaceItem>
          <button
            nz-button
            nzType="link"
            nzSize="small"
            [routerLink]="'/login'"
            style="padding: 0">
            Back to Login
          </button>
        </div>
      
      </nz-space>
    </form>
  </nz-card>
</div>